body {font-family: Arial/*, Helvetica, sans-serif*/; background-color: #DCE1DE;}

/* Navigation Bar */
.navbar {
  overflow: hidden;
  border-radius: 10px;
  background-color: #1F2421;
}

.navbar a {
  float: left;
  display: block;
  color: #DCE1DE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #DCE1DE;
  color: black;
}

.navbar a.active {
  background-color: #216869;
  color: white;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: #DCE1DE;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #DCE1DE;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1F2421;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #DCE1DE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #DCE1DE;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* End of Navigation Bar */

/* Images Section */
.images {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 5px;
  margin: 5px;
}
/* End of myImages */